// This configuration file is only for server. For client babelrc. look into the `babel-loader`
// query options in webpack.config.js
{
	"presets": ["es2015", "stage-0", "react"],
	"plugins": [
		["babel-root-import", {
			"rootPathSuffix": "src",
			"rootPathPrefix": "~"
		}],
		"transform-runtime",
		"transform-object-rest-spread",
		"transform-class-properties"
	],
	"env": {
		"test": {
			"comments": true,
			"sourceMaps": "inline",
			"plugins": ["istanbul", [
				"babel-plugin-webpack-loaders",
				{
					"config": "webpack.config.ava.js",
					"verbose": false
				}
			]]
		}
	}
}
