// This configuration file is only for server. For client babelrc. look into the `babel-loader`
// query options in webpack.base.config.js
{
	"presets": ["es2015", "stage-0"],
	"plugins": [
		"transform-runtime",
		["typecheck", { "disable": { "production": true } }],
		"transform-object-rest-spread",
		"transform-class-properties"
	]
}
