{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "defaultParams": true,
    "jsx": true,
    "modules": true
  },
  "rules": {
    "no-multi-spaces": [2, {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true
      }
    }],
    "semi": [2, "never"],
    "indent": [2, "tab"],
    "comma-dangle": [2, "never"],
    "new-cap": [2, {
      "properties": false
    }],
    "react/jsx-indent": [0]
  },
  "plugins": [
    "react"
  ]
}
