{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": true
  },
  "ecmaFeatures": {
    "defaultParams": true,
    "jsx": true,
    "modules": true
  },
  "rules": {
    "no-multi-spaces": [2, {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true
      }
    }],
    "semi": [2, "never"],
    "indent": [2, "tab", {
      "SwitchCase": 1
    }],
    "comma-dangle": [2, "never"],
    "new-cap": [2, {
      "properties": false
    }],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/jsx-indent": [0],
    "react/jsx-indent-props": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0],
    "no-tabs": [0],
    "import/extensions": [0]
  },
  "plugins": [
    "react"
  ]
}
